body {
  font-family: "Lato", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.box-content {
  overflow: hidden;
}

.header {
  background-color: #222;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.header__left {
  gap: 41px;
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}

#burger {
  position: absolute;
  left: -999999px;
  visibility: hidden;
}
#burger:checked ~ .burger__nav {
  right: -232px;
}

.burger__nav {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  width: 232px;
  padding: 32px;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 0;
  transition: right 0.3s;
}
.burger__nav__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.burger__nav__box {
  padding-top: 24px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.burger__nav__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
}
.burger__nav__links-list {
  list-style-type: none;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.burger__nav__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-left: 21px;
}
.burger__nav__link:hover {
  color: #F16D7F;
}

.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-head__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumbs__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumbs__link__site {
  font-weight: 700;
  color: #F16D7F;
}

.filter-sort {
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  width: 360px;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}
.filter__content {
  background-color: #FFFFFF;
  padding: 0px 16px 16px 16px;
}
.filter[open] {
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__title {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__title {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}
.filter__item {
  margin-top: 16px;
}
.filter__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__link-box {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.filter__link:hover {
  color: #F16D7F;
}
.filter__item[open] .filter__heading {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  gap: 18px;
  z-index: 1;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
  position: absolute;
  left: -9px;
  top: 22px;
}
.sort__check {
  display: flex;
  gap: 9px;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
}

.product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.pagination {
  padding-top: 48px;
  padding-bottom: 96px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.product:hover::after {
  content: url(img/Hover.svg);
  position: absolute;
}
.product__content {
  background-color: #F8F8F8;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product__link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}
.product__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.product__price {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.footer__wrapper {
  background-color: #222;
}

.features {
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.feature__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.feature__item__heading {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  padding-top: 25px;
}
.feature__item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
  padding-top: 16px;
}

.subscribe {
  background-image: url(img/photo_subscribe.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.author {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.author__text {
  height: 100px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  margin-top: 30px;
  width: 360px;
}

.subscribe__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.subscribe__info__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe__info__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__text-field__group {
  margin-top: 32px;
  display: flex;
  height: 49px;
}
.subscribe__text-field__input {
  width: 256px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
  color: #222224;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
  z-index: 3;
  background-color: #E1E1E1;
  border: none;
}
.subscribe__text-field__btn {
  height: 50px;
  width: 100px;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #F16D7F;
  transition: background-color 0.15s ease-in-out;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-left-width: 0;
  border: none;
}
.subscribe__text-field__btn:hover {
  background-color: #E05C6E;
}

.contacts {
  display: flex;
  justify-content: space-between;
  margin-left: 235px;
  margin-right: 230px;
  min-height: 79px;
  align-items: center;
}
.contacts__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  display: flex;
  align-items: center;
}
.contacts__social__icons {
  display: flex;
  gap: 7.3px;
  align-items: center;
}

.icon {
  width: 32px;
  fill: #E1E1E1;
}

.icon:hover path {
  fill: #F16D7F;
}

.social_icon_background {
  width: 32px;
  height: 31px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;
}

.social_icon {
  fill: black;
}

.social_icon_background:hover {
  background-color: #F16D7F;
}

.social_icon_background:hover .social_icon path {
  fill: white;
}/*# sourceMappingURL=style.css.map */